*{
    margin: 0px;
    padding: 0px;
    
}
body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 70vh;
    background-color: #4a98f7;
    border: 5px solid red;
}
.wrapper{
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    pad: 20px 20px 28px ;
}

.wrapper img{
   max-width: 85px; 
}
.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}

.wrapper .content{
    width: 100%;
justify-content: space-between;
}

.wrapper .content.disable{
opacity: 0.6;
pointer-events: none;
}

.content .column{
    border-end-end-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100%/3-5px);
}
.column select{
    outline: none;
    border: none;
    height: 40px;
    width: 60px;
    font-size: 19px;
     

}

.wrapper button{
    width: 100%;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    color:black;
    cursor: pointer;
    padding: 17px 0;
    border-radius: 5px;
    background: yellow;
}

#backbutton{
    margin-right: 90%;
 }
 
 #backbuttonimg{
     width: 25px;
     height: 20px;
 
 }